Django==5.2.6
djangorestframework==3.16.1
django-ipware==7.0.1
django-cors-headers==4.7.0
django-crispy-forms==2.4
geoip2==5.1.0

# Deployment
whitenoise==6.9.0
dj-database-url==3.0.1
psycopg2-binary==2.9.10

# For WebSockets / Real-time
channels==4.1.0
channels-redis==4.2.0
daphne==4.1.0
redis==6.4.0

