Django==5.2.6
django_ipware==7.0.1
djangorestframework==3.16.1
geoip2==5.1.0
django-cors-headers
channels
django-crispy-forms
redis
mysqlclient==2.2.7
gunicorn
dj-database-url
psycopg2-binary
whitenoise
uvicorn[standard]





